
.body-margin {
    margin: 30px;
}

.menu-inline li{
    display: inline-block;
    margin: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title-layout {
    margin: 10px;
}

.main-container {
    padding: 10px;
}

.alt-content {
    padding: 10px;
}

.img-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
}

.img-quote cite {
    display: block;
}