
.body-margin {
    margin: 30px;
}

.menu-float li {
    float: left;
    margin: 0 15px;
}

.menu-float:after {
    content: "";
    display: block;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title-layout {
    margin: 10px;
}

.main-container {
    padding: 10px;
}

.alt-content {
    padding: 10px;
}

.img-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-quote cite {
    display: block;
}

.right-side-img {
    float: right;
    width: 400px;
    margin-left: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.img-size {
    width: 400px;
}

.gallery-img {
    width: 400px;
    display: inline-block;
}

.gallery-img img {
    width: 100%;
}

.img-container {
    max-width: 500px;
}

.project-item-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-list dt {
    font-size: larger;
    padding-bottom: 15px;
}

.form-inner-container {
    margin: 0 auto;
    width: 45em;
}

.form-inner-container label {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(132,185,255, 0.3);
}

.form-inner-container label:last-child {
    border: none;
}

.form-inner-container label span{
    vertical-align: top;
    display: inline-block;
    width: 15em;
}

.form-inner-container label select,
.form-inner-container label textarea,
.form-inner-container label input {
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    width: 30em;
    margin-bottom: 5px;
    border: none;
    padding: 0;
    margin: 0;
    background: #425D7F;
    color: #84B9FF;
    resize: none;
    height: 2em;
}

/*.form-inner-container label input,*/
/*.form-inner-container label select,*/
/*.form-inner-container label textarea {*/
    /*/!*display: inline-block;*!/*/
    /*position: relative;*/
    /*width: 200px;*/
    /*right: 0px;*/
/*}*/