/** {*/
/*font-size: 10px;*/
/*}*/

.body-margin {
    margin: 30px;
}

.menu-float li {
    float: left;
    margin: 0 15px;
}

.menu-float:after {
    content: "";
    display: block;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title-layout {
    margin: 10px;
}

.main-container {
    padding: 10px;
}

.alt-content {
    padding: 10px;
}

.img-quote {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-quote cite {
    display: block;
}

.right-side-img {
    float: right;
    width: 400px;
    margin-left: 10px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.img-size {
    width: 400px;
}

.gallery-img {
    width: 400px;
    display: inline-block;
}

.gallery-img img {
    width: 100%;
}

.img-container {
    max-width: 500px;
}

.project-item-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-list dt {
    font-size: larger;
    padding-bottom: 15px;
}

.form-inner-container {
    margin: 0 auto;
    width: 50%;
}

.form-inner-container label {
    display: block;
    padding: 10px 10px;
}

.form-inner-container label span {
    vertical-align: top;
    float: left;
    display: inline-block;
    width: 40%;
}

.form-inner-container label select,
.form-inner-container label textarea,
.form-inner-container label input {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    display: inline-block;
    width: 60%;
    border: none;
    padding: 5px 5px;
    margin: 0;
    resize: none;
    height: 2rem;
    float: left;
}

.form-inner-container label input[type='color'] {
    padding: 1px 1px;
}

.submit {
    margin: 0 10px;
}

.submit button::before {
    content: "\2799";
    margin: 0 5px;
    font-size: large;
    vertical-align: middle;
}

.button-submit {
    width: 150px;
    margin: 10px 0;
    float: right;
    line-height: 2em;
    -webkit-appearance: none;
    border: none;
    text-align: center;
}

