
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

.main-font {
    font-family: 'Oxygen Mono';
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

.no-bullet li {
    list-style: none;
}

.img-quote {
    font-size: small;
}

.img-quote cite {
    text-align: right;
}

.gallery-img figcaption {
    text-align: center;
}

.quote-of-the-day {

}

.quote-of-the-day cite {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.form-intro {
    text-align: center;
}